*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
}

ul{
  li{
    margin: 5px 0px;
    list-style: none;
    a:any-link{
      color: initial;
    }
  }
}

svg{
  cursor: pointer;
}

footer{
  svg{
    filter: drop-shadow(-2px 2px 3px #906F80);
  }
}

video{
  min-height: 121.5px;
  box-shadow: -8px 8px 20px 2px black;
}

// @media screen and (min-width: 391px) {

//   video{
//     min-height: 151px;
//   }
// }

@media screen and (min-width: 576px) {
  
  video{
    min-height: 170px;
    
  }
}

@media screen and (min-width: 768px) {
  
  video{
    min-height: 229px;
    
  }
}

@media screen and (min-width: 992px) {
  
  video{
    min-height: 125px;
    
  }
}

@media screen and (min-width: 1200px) {
  
  video{
    min-height: 167px;
    
  }
}

@media screen and (min-width: 1400px) {
  
  video{
    min-height: 195px;
    
  }
}