
.pageBackground{
    background-color: #708090 ;
}

.navFont{
    min-height: 50px;
    ul{
        li{
          text-align: center;
          margin: 0;
          a:any-link{
            text-decoration: none;
          }
        }
      }
}

.navExplorer{
    animation-name: breathe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes breathe {
    0% {
        filter: drop-shadow(0px 0px 0px #906F80);
        font-size: 1rem;
    }

    50%{
        filter: drop-shadow(0px 0px 1.25px #906F80);
        font-size: 16.75px;
    }

    100% {
        filter: drop-shadow(0px 0px 0px #906F80);
        font-size: 1rem;
    }
}

.contentContainer{
    min-height: 630px;
}

.initialList{
    margin: 0 0 32px 0;
    li{
        list-style: initial;
    }
}

.projectMainContainer{
    min-height: 425px;
    p{
        a:any-link{
            color: initial;
        }
    }
}

.projectList{
    li{
        cursor: pointer;
    }
}

.circleArrows{
    svg{
        box-shadow: 0px 40px 20px -15px black;
        border-radius: 50%;
    }
}

.aboutMeLinks{
    p{
        a:any-link{
            color: initial;
        }
    }
    
}



















